body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.app {
  background: #020617;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px #0ea5e9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Progress bar */
#progress {
  width: 100%;
  height: 10px;
  background: #1e293b;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

#bar {
  height: 100%;
  width: 0%;
  background: #38bdf8;
}

/* Quiz */
#answers button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 6px;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#answers button:hover {
  background: #38bdf8;
  color: black;
}

#nextBtn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#nextBtn:hover {
  background: #16a34a;
}

#media {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

.hidden {
  display: none;
}
